<div class="container">

<div class="row">
<div class="span16">

  <h2>Photos</h2>

  <ul class="media-grid photos">
    <% @photos.each do |photo| %>
      <li class="<%= photo.get_class %>">
        <a href="<%= photo.page %>">
          <img class="thumbnail" src="<%= photo.full_url('sq') %>" <%= photo.wh_attr('sq') %> />
        </a>
      </li>
    <% end %>
  </ul>

  <div class="pagination">
    <%= @photos.pager.to_html("/#{params[:username]}", :size => 15, :more_text => '<span>...</span>') %>
  </div>

</div><!-- span16 -->
</div><!-- row -->

</div><!-- container -->
