<div class="container">

<div class="row">
  <div class="span16">
    <h2><%== @title %></h2>
  </div>
</div>

<div class="row">

  <div class="span12">

    <ul class="media-grid photos">
      <% @photos.each do |photo| %>
        <li class="<%= photo.get_class %>">
          <a href="<%= photo.page %>">
            <img class="thumbnail" src="<%= photo.full_url('sq') %>" <%= photo.wh_attr('sq') %> />
          </a>
        </li>
      <% end %>
    </ul>

    <div class="pagination">
      <%= @photos.pager.to_html(@list.page, :size => 9, :more_text => '<span>...</span>') %>
    </div>
    
  </div><!-- left col -->
  <div class="span4">
    
    <div class="sidebar-widget">
      <p><a href="">Hello</a></p>
    </div>    

  </div><!-- right col-->

</div><!-- row -->

</div><!-- container -->
