<div class="container">

<div class="row page-title">
  <div class="span16">
    <h2><%== @title %></h2>
  </div>
</div>

<div class="row">

  <div class="span12">

    <ul class="media-grid photos">
      <% @photos.each do |photo| %>
        <li class="<%= photo.get_class %>">
          <a href="<%= photo.page @list %>">
            <img class="thumbnail" src="<%= photo.full_url('sq') %>" <%= photo.wh_attr('sq') %> />
          </a>
        </li>
      <% end %>
    </ul>
    <% if @photos.length == 0 %>
      <section id="home" style="margin-top: 30px;">
        <div class="hero-unit" style="text-align: center;">
          <h2>No Photos Found</h2>
          <p>Sorry, there are no photos for you here.</p>
        </div>
      </section>
    <% end %>

    <div class="pagination">
      <%= @photos.pager.to_html(@list.page, :size => 9, :more_text => '<span>...</span>') %>
    </div>
    
  </div><!-- left col -->
  <div class="span4">
    
    <% if @related_sets && @related_sets.length > 0 %>
      <div class="sidebar-widget related">
        <h3><%= @related_titles[:sets] %></h3>
        <ul>
          <% @related_sets.each do |photoset| %>
            <li><a href="<%= photoset.page %>"><%= photoset.display_name %> <span class="num">(<%= photoset.num %>)</span></a></li>
          <% end %>
        </ul>
      </div>    
    <% end %>

    <% if @related_people && @related_people.length > 0 %>
      <div class="sidebar-widget related">
        <h3><%= @related_titles[:people] %></h3>
        <ul>
          <% @related_people.each do |person| %>
            <li><a href="<%= person.page %>"><%= person.display_name %></a> <span class="num">(<%= person.num %>)</span></li>
          <% end %>
        </ul>
      </div>    
    <% end %>

    <% if @related_places && @related_places.length > 0 %>
      <div class="sidebar-widget related">
        <h3><%= @related_titles[:places] %></h3>
        <ul>
          <% @related_places.each do |place| %>
            <li><a href="<%= place.page %>"><%= place.display_name %></a> <span class="num">(<%= place.num %>)</span></li>
          <% end %>
        </ul>
      </div>    
    <% end %>

    <% if @related_dates %>
      <div class="sidebar-widget related">
        <h3>Dates</h3>
        <ul>
          <% @related_dates[:years].each do |year| %>
            <li><a href="<%= "/#{@user.username}/#{year[:year]}" %>"><%= year[:year] %> <span class="num">(<%= year[:num] %>)</span></a></li>
          <% end %>
          <% @related_dates[:months].each do |month| date = DateTime.new(month[:year], month[:month], 1) %>
            <li><a href="<%= "/#{@user.username}/#{date.strftime "%Y/%m"}" %>"><%= date.strftime("%B %Y") %></a> <span class="num">(<%= month[:num] %>)</span></li>
          <% end %>
          <% @related_dates[:days].each do |day| date = DateTime.new(day[:year], day[:month], day[:day]) %>
            <li><a href="<%= "/#{@user.username}/#{date.strftime "%Y/%m/%d"}" %>"><%= date.strftime("%B %e") %></a> <span class="num">(<%= day[:num] %>)</span></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @related_tags && @related_tags.length > 0 %>
      <div class="sidebar-widget related">
        <h3><%= @related_titles[:tags] %></h3>
        <ul>
          <% @related_tags.each do |tag| %>
            <li><a href="<%= tag.page %>"><%= tag.display_name %></a> <span class="num">(<%= tag.num %>)</span></li>
          <% end %>
        </ul>
      </div>    
    <% end %>

  </div><!-- right col-->

</div><!-- row -->

</div><!-- container -->
