<div class="container">

<div class="row">

  <div class="span11">

    <h2 class="page-title"><%== @photo.title %></h2>

    <p><%= @photo.img_tag 'z' %></p>
    <p><%= format_text @photo.description %></p>

  </div><!-- left col -->
  <div class="span5">

    <div class="sidebar-widget">
      <p><a href="<%= @photo.url %>">View on Flickr</a></p>
      <p>Taken on <%= @photo.date_taken.strftime "%B %e, %Y" %>
    </div>

    <% if @has_location %>
    <div class="sidebar-widget">
      <% if @photo.latitude %>
        <a href="http://open.mapquest.com/?q=<%=@photo.latitude%>,<%=@photo.longitude%>" class="photo_map">
          <span class="map" id="photo_map_far">
            <img src="http://open.mapquestapi.com/staticmap/v3/getmap?center=<%=@photo.latitude%>,<%=@photo.longitude%>&amp;zoom=3&amp;size=280,180&amp;type=map&amp;imagetype=png&amp;pois=1,<%=@photo.latitude%>,<%=@photo.longitude%>,0,0" width="280" height="180" alt="<%= "#{@photo.latitude}, #{@photo.longitude}" %>" />
          </span>
          <span class="map" id="photo_map_near">
            <img src="http://open.mapquestapi.com/staticmap/v3/getmap?center=<%=@photo.latitude%>,<%=@photo.longitude%>&amp;zoom=<%= [15,@photo.accuracy].min %>&amp;size=280,180&amp;type=map&amp;imagetype=png&amp;pois=1,<%=@photo.latitude%>,<%=@photo.longitude%>,0,0" width="280" height="180" alt="<%= "#{@photo.latitude}, #{@photo.longitude}" %>" />
          </span>
        </a>
      <% end %>
      <% @places.each_index do |i| %>
        <a href="<%= @places[i].page @photo %>"><%= @places[i].name %></a><%= (i == @places.length - 1 ? '' : ', ') %>
      <% end %>
    </div>
    <% end %>

    <div class="sidebar-widget">
      <h3>This photo belongs to</h3>
      <p><a href="<%= @photo.user.page @photo %>"><%= @photo.user.username %>'s photostream</a>
      <% if @me == @user %>
      <table class="condensed-table photo-sizes">
        <% @photo.sizes.reverse.each do |s| %>
          <tr class="<%= s %><%= (s != 'o' ? ' hidden start-hidden' : '') %>">
            <td class="dropdown"><% if s == 'o' %><a href="javascript:void(0);" class="dropdown-toggle closed"></a><% end %></td>
            <td><a href="<%= @photo.full_url(s) %>"><%= Photo.name_for_size(s) %> <%= (s == 'o' ? @photo.format : '') %></td>
            <td class="dimensions"><%= "#{@photo.width(s)} &times; #{@photo.height(s)}" %></a></td>
          </tr>
        <% end %>
      </table>
      <% end %>
    </div>

    <% if @people.count > 0 %>
    <div class="sidebar-widget">
      <h3>People</h3>
      <ul>
        <% @people.each do |person| %>
          <li><a href="<%= person.page @photo %>"><%= person.realname %></a></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if @photosets.count > 0 %>
    <div class="sidebar-widget">
      <h3>Sets <a href="/<%= @user.username %>/sets" class="small-link">all sets</a></h3>
      <ul>
        <% @photosets.each do |photoset| %>
          <li><a href="<%= photoset.page @photo %>"><%= photoset.title %></a></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if @photo_tags.count > 0 %>
    <div class="sidebar-widget">
      <h3>Tags</h3>
      <ul class="tags">
        <% @photo_tags.each do |tag| %>
          <li><a href="<%= tag.page @photo %>"><%= tag.name %></a></li>
        <% end %>
      </ul>
      <div style="clear: both;"></div>
    </div>
    <% end %>

    <% if @machine_tags.count > 0 %>
    <div class="sidebar-widget">
      <h3>Machine Tags</h3>
      <ul>
        <% @machine_tags.each do |tag| %>
          <li><a href="<%= tag.page @photo %>"><%= tag.name %></a></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  </div><!-- right col-->

</div><!-- row -->

</div><!-- container -->