<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Archivr</title>
    <link rel="stylesheet" href="/css/bootstrap-1.4.0.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <meta name="description" content="Archive your entire Flickr photo stream" />
    <script src="/js/libs/jquery-1.6.4.min.js" type="text/javascript"></script>
    <% if SiteConfig.ga_id %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= SiteConfig.ga_id %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>
  <body>

    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="/<%= (@user ? @user.username : '') %>"><%= (@user ? @user.username : 'Archivr') %></a></h3>

          <% if @user %>
            <ul class="nav">
              <li class="dropdown">
                <a href="/<%= @user.username %>/sets" class="dropdown-toggle">Sets</a>
                <ul class="dropdown-menu">
                  <% @user.get_sets(@me, 1, 7).each do |photoset| %>
                    <li><a href="<%= photoset.page %>"><%= photoset.display_name %></a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a href="/<%= @user.username %>/sets">All Sets</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav">
              <li class="dropdown">
                <a href="/<%= @user.username %>/tags" class="dropdown-toggle">Tags</a>
                <ul class="dropdown-menu">
                  <% @user.get_tags(@me, 1, 7).each do |tag| %>
                    <li><a href="<%= tag.page %>"><%= tag.display_name %></a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a href="/<%= @user.username %>/tags">All Tags</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav">
              <li class="dropdown">
                <a href="/<%= @user.username %>/people" class="dropdown-toggle">People</a>
                <ul class="dropdown-menu">
                  <% @user.get_people(@me, 1, 7).each do |person| %>
                    <li><a href="<%= person.page %>"><%= person.display_name %></a></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><a href="/<%= @user.username %>/people">All People</a></li>
                </ul>
              </li>
            </ul>
          <% end #if looking at a user's photos %>

          <% if @me %>
            <ul class="nav secondary-nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"><%= @me.username %></a>
                <ul class="dropdown-menu">
                  <li><a href="/<%= @me.username %>">Photos</a></li>
                  <li><a href="/<%= @me.username %>/sets">Sets</a></li>
                  <li><a href="/<%= @me.username %>/tags">Tags</a></li>
                  <li><a href="/<%= @me.username %>/people">People</a></li>
                  <li class="divider"></li>
                  <li><a href="/auth/signout">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <ul class="nav secondary-nav pull-right">
              <li><a href="/auth/flickr">Sign In</a></li>
            </ul>
          <% end #if logged in %>

          <% if @user %>
            <form class="pull-right" action="/<%= @user.username %>/search" method="post">
              <input type="text" placeholder="Search" name="search">
            </form>
          <% end %>

        </div>
      </div>
    </div>

      <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          <a href="/about">About this site</a>
        </p>
        <p>
          Built by <a href="http://aaronparecki.com/Flickr_Archiver">aaronpk</a>.<br />
          <a href="https://github.com/aaronpk/Flickr-Archivr">Source code</a> licensed under the GPLv2 license.
        </p>
      </div>
    </footer>

    <script src="/js/libs/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="/js/site.js" type="text/javascript"></script>

  </body>
</html>
