<div class="container">

<div class="row page-title">
  <div class="span16">
    <h2><%== @title %></h2>
  </div>
</div>

<div class="row">

  <div class="span16">

    <div class="sets">
      <% @sets.each do |photoset| next if photoset.cover_photo.nil? %>
        <div class="set">
          <div class="set-in">
            <a href="<%= photoset.page %>" class="set-thumbnail">
              <img class="thumbnail" src="<%= photoset.cover_photo.full_url('sq') %>" <%= photoset.cover_photo.wh_attr('sq') %> />
            </a>
            <h4><a href="<%= photoset.page %>"><%== photoset.title %></a></h4>
            <p><span class="num"><%= photoset.num %></span> photos</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="pagination">
    </div>
    
  </div>

</div><!-- row -->

</div><!-- container -->
