<div class="container">

<div class="row">

  <div class="span16">

    <div class="sets">
    <%
      @sets.each_with_index do |photoset,i|
        next if photoset.cover_photo.nil?   # This shouldn't happen regularly, but may happen if a set was deleted and the list was viewed before the sync script caught up
        size = (@page.to_i == 1 && i < 6 ? 's' : 'sq')
        %>
        <div class="set">
          <div class="set-in <%= size %>">
            <a href="<%= photoset.page %>" class="set-thumbnail">
              <img class="thumbnail" src="<%= photoset.cover_photo.full_url(size) %>" <%= photoset.cover_photo.wh_attr(size) %> />
            </a>
            <h4><a href="<%= photoset.page %>"><%== photoset.title %></a></h4>
            <p><span class="num"><%= photoset.num_photos %></span> photos</p>
          </div>
        </div>
      <% 
      end 
    %>
    </div>

    <div class="pagination">
      <%= @sets.pager.to_html("/#{@user.username}/sets", :size => 9, :more_text => '<span>...</span>') %>
    </div>
    
  </div>

</div><!-- row -->

</div><!-- container -->
